@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #dedede;

	font-family: 'Nunito', sans-serif;
}

.header-bg {
	background: url('../assets/bg.jpg') no-repeat center center;
	background-size: cover;
	height: 600px;
}

.img {
	float: left;
	padding: 0px;
}

.img img {
	position: relative;
	width: 99.5%;
}

img:hover {
	-webkit-transform: scale(2);
	outline: solid #ffffff 1px;
	z-index: 30;
}

.white {
	color: #f4f4f4;
}

.darkgray {
  color: #454545;
}

.name {
	top: 400px;
}

.portfolio {
	background-color: #dedede;
  padding-bottom: 50px;
}

.portfolio-name {
	width: 100%;
	padding-top: 50px;
	background-color: #dedede;
  margin: 10px;
}

.big {
	font-size: 50px;
}

.medium {
	font-size: 30px;
}

.small {
	font-size: 20px;
}

footer {
	margin-top: 50px;
	padding: 20px;
	color: #454545;
}

.animation {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

/*up animation*/
@keyframes up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
  }

  70% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.up {
  -webkit-animation-name: up;
  animation-name: up;
}

/*down animation*/
@keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
  }

  70% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.down {
  -webkit-animation-name: down;
  animation-name: down;
}

/*left animation*/
@keyframes left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  70% {
    opacity: 1;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.left {
  -webkit-animation-name: left;
  animation-name: left;
}


/*right animation*/
@keyframes right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }

  70% {
    opacity: 1;
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.right {
  -webkit-animation-name: right;
  animation-name: right;
}