* {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@media only screen and (min-width: 850px) {
	body {
		padding: 0 100px;
	}

	header {
		width: 100%;
		margin-top: 25px;
		height: 100px;
	}

	header > picture > img {
		float: left;
		width: 75px;
		height: 75px;
		overflow: hidden;
		vertical-align: center;
	}

	.header-text-section {
		float: right;
		text-align: right;
	}

	article > figure {
		margin: 30px 0;
		padding: 0 10px;
	}

	.body-content-section > figure {
		float: left;
		width: calc(33.3% - 20px);
		text-align: center;
		margin: 10px;
	}

	figure > picture > img {
		width: 100%;
	}

	.hr-rule {
		border-bottom: 4px solid #4897e0;
	}

	h1 {
		font-size: 40px;
		color: #19275c;
	}

	h2 {
		color: #8f9ca8;
		font-size: 25px;
		padding: 7px;
	}

	h3 {
		font-size: 25px;
		color: #19275c;
	}

	h4 {
		color: #19275c;
	}

	a {
		font-size: 12px;
		color: #19275c;
		text-decoration: none;
	}
}

@media only screen and (max-width: 849px) {
	body {
		padding: 0 10px;
	}

	header {
		width: 100%;
		height: 100px;
		margin-top: 25px;
		overflow: hidden;
	}

	header > picture > img {
		position: absolute;
		opacity: 0.5;
		z-index: -1;
		max-width: 75px;
		max-height: 75px;
	}

	.header-text-section {
		padding-top: 15px;
		width: 100%;
		float: left;
		text-align: center;
	}

	article > figure {
		margin: 30px 0;
		padding: 0 10px;
	}

	.body-content-section > figure {
		float: left;
		width: 100%;
		text-align: center;
		margin: 10px;
	}

	figure > picture > img {
		width: 100%;
	}

	.hr-rule {
		border-bottom: 4px solid #4897e0;
	}

	h1 {
		font-size: 40px;
		color: #19275c;
	}

	h2 {
		color: #8f9ca8;
		font-size: 25px;
		padding: 7px;
	}

	h3 {
		font-size: 25px;
		color: #19275c;
	}

	h4 {
		color: #19275c;
	}

	a {
		font-size: 12px;
		color: #19275c;
		text-decoration: none;
	}
}