* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@media only screen and (min-width: 850px) {
	body {
		padding: 0 100px;
	}

	header {
		margin-top: 25px;
		height: 100px;
		padding: 0 10px;
	}

	header > picture > img {
		float: left;
		width: 75px;
		height: 75px;
		overflow: hidden;
		vertical-align: center;
	}

	header > section {
		float: right;
		text-align: right;
	}

	article > figure {
		margin: 30px 0;
		padding: 0 10px;
	}

	section > figure {
		float: left;
		width: calc(33.3% - 20px);
		text-align: center;
		margin: 10px;
	}

	figure > picture > img {
		width: 100%;
	}

	hr {
		background-color: #4897e0;
		border: none;
		margin: 0 10px;
		width: calc(100% - 20px);
		height: 4px;
		text-align: center;
	}

	h1 {
		font-size: 40px;
		color: #19275c;
	}

	h2 {
		color: #8f9ca8;
		font-size: 25px;
		padding: 7px;
	}

	h3 {
		font-size: 25px;
		color: #19275c;
	}

	h4 {
		color: #19275c;
	}

	a {
		font-size: 12px;
		color: #19275c;
		text-decoration: none;
	}
}

@media only screen and (max-width: 849px) {
	body {
		padding: 0 10px;
	}

	header {
		height: 100px;
		padding: 0 10px;
		overflow: hidden;
	}

	header > picture {
		display: none;
	}

	header > section {
		padding-top: 15px;
		width: 100%;
		float: left;
		text-align: center;
	}

	article > figure {
		margin: 30px 0;
		padding: 0 10px;
	}

	section > figure {
		float: left;
		width: 100%;
		text-align: center;
		margin: 10px;
	}

	figure > picture > img {
		width: 100%;
	}

	hr {
		background-color: #4897e0;
		border: none;
		margin: 0 10px;
		width: calc(100% - 20px);
		height: 4px;
		text-align: center;
	}

	h1 {
		font-size: 40px;
		color: #19275c;
	}

	h2 {
		color: #8f9ca8;
		font-size: 25px;
		padding: 7px;
	}

	h3 {
		font-size: 25px;
		color: #19275c;
	}

	h4 {
		color: #19275c;
	}

	a {
		font-size: 12px;
		color: #19275c;
		text-decoration: none;
	}
}