.page-header {
    height: 150px;
    line-height: 1px;
    border-bottom: 1px solid #e5e5e5;
}

.page-header-container {
    height: 100%;
}

.page-header-logo {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 4rem;
}

.page-full-img {
    background-image: url(resource/readm2_profile.jpeg);
    background-size: cover;
}

.page-card-img {
    width: 200px;
    height: 250px;
}

footer {
    text-align: right;
	margin-top: 50px;
	color: #454545;
}
